<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-custom fixed-top">
    <a class="navbar-brand brand-custom" href="#"><img src="../../assets/images/nokia_white_logo.png" alt="logo.png"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="collapse navbar-collapse" style="float: right" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> Create New <span class="sr-only">(current)</span></a>
        </li>
        <li ngbDropdown class="nav-item">
          <button class="nav-link btn btn-outline-primary dropdown-toggle active" id="dropdownBasic1" ngbDropdownToggle >
              <span class="glyphicon glyphicon-asterisk"><i class="fa fa-user-circle fa-4" aria-hidden="true">Account</i>
              </span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
        </li>

      </ul>
      
    </div>
  </nav>
